
.displayY{
    display: flex;
    margin: 20px;
    color: black;
width: 90%;


}

.projectbox{
    flex:auto;
    margin: 2px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
margin: 10px;  
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.291); 
justify-content: center;




}


.projectbox>ul>li{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    margin: 1px;
    list-style: none;
    font-size: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: -30px;

    
}
.projectbox>ul>li>img{
    width: 20px;
}
.projectbox>ul>li>span{
    width: 30%;
  

}




.projectbox>ul>li>div{
    background-color: rgb(189, 255, 197);
    width: 70%;
    border-radius: 100px;
    height: 1rem;
  
}
.projectbox>ul>li>div>div{
    background-color: rgb(0, 255, 51);
    width: 10%;
    border-radius: 100px;
    box-shadow: 1px 1px 10px rgba(0, 255, 51, 0.802);
    height: 100%;
  
}

@media (max-width: 700px) {


    .displayY{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .projectbox{
        margin: 10px;
        width: 70%;

    
    }

}








