
.displayY{
    display: flex;
    color: black;
    width: 100%;
}

.projectbox{
    flex:auto;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397); 
   justify-content: center;

}


.projectbox>ul>li{
    padding: 10px;
    width: 100%;
    list-style: none;
    font-size: 20px;
    display: flex;
    margin-left: -30px;
}
.projectbox>ul>li>img{
    width: 20px;
}
.projectbox>ul>li>span{
    width: 40%;
    overflow: hidden;
    margin-right: 2px;
    transform: translateX(-20px);
}

.projectbox>ul>li>div{
    background-color: rgb(147, 233, 255);
    width: 100%;
    border-radius: 100px;
    height: 1rem;
  
}
.projectbox>ul>li>div>div{
    background-color: rgb(9, 194, 255);
    width: 10%;
    border-radius: 100px;
    box-shadow: 1px 1px 10px rgba(37, 204, 255, 0.802);
    height: 100%;
  
}

/* contact*/
.contact{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.icon{
   height: 50px;
   width: 50px;
   background-color: rgb(247, 247, 247);
   border-radius: 100px;
   color: white;
   transition: all;
   transition: 0.6s;
}
.icon:hover{
    transform: scale(1.5);
}



@media (max-width: 700px) {


    .displayY{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .projectbox{
        margin: 10px;
        width: 85%;
        justify-content: center;

    
    }

}








