.pageprofile{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    padding: 50px;

}

.pageprofiletext{
    width: 80%;
}
.pageprofiletext>h1{
    font-size: 50px;
    color: rgb(16, 145, 243);
  

}

#picme{
    background-color: blue;
 
    height: fit-content;
    width: 30vh;
    border-radius: 50px;
    display: none;
}
#btndetill{
    background-color: rgb(0, 204, 255);
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    text-align: center;
    margin-left: 30%;
}









/*ssssssssss*/
.pageskill{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    color: rgb(16, 145, 243);
    
}
.pageskill>h1{
    margin: 30px;
    
}
.displayY{
    display: flex;
    margin: 20px;
    color: black;
}
.projectbox{
    margin: 2px;
    width: 33.33%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
margin: 20px;  
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.668); 
justify-content: center;


}

.projectbox>h2{
    text-align: center;

    height: 10%;
}
.projectbox>ul>li{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    margin: 1px;
    list-style: none;
    font-size: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: -30px;

    
}
.projectbox>ul>li>img{
    width: 20px;
    
    

}
.projectbox>ul>li>span{
    width: 30%;
  
    
    

}




.projectbox>ul>li>div{
    background-color: rgb(189, 255, 197);
    width: 70%;
    border-radius: 100px;
    height: 1rem;
  
}
.projectbox>ul>li>div>div{
    background-color: rgb(0, 255, 51);
    width: 10%;
    border-radius: 100px;
    box-shadow: 1px 1px 10px rgba(0, 255, 51, 0.802);
    height: 100%;
  
}

@media (max-width: 700px) {
    .pageskill{
        height: 100%;
    }

    .displayY{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .projectbox{
        margin: 2px;
        width: 70%;
        padding: 20px;
    margin: 20px;  

    
    }

}
/*vvvvvvvvvvvvvvvvv*/
.pageproject{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    color: rgb(16, 145, 243);


}