body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.8);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar h1 {
    
    font-size: 20px;

  
    
}

.navbar button {
    background: rgba(55, 172, 255, 0.382);
    border: none;
    color: rgb(8, 8, 8);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 500px;
    transition: background-color 0.2s ease-in-out;
    display: flex;

}

.navbar button:hover {
    background-color: #58585852;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.info {
    padding: 15px;
}

.info h2 {
    margin: 0;
    font-size: 1.5em;
}

.info .date {
    color: rgb(33, 125, 255);
}

.info button {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.info button:hover {
    background-color: #005f73;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}